### Imports

In [364]:
import pandas as pd
from prettypandas import PrettyPandas

### Yummly set-up

In [365]:
import yummly

# default option values
TIMEOUT = 45.0
RETRIES = 3

# Yummly mjboothaus Account: Hackathon Plan - Access granted 24 July 2017

API_ID = 'b4f167ed'
API_KEY = 'f69184af19beb4b76e7b7b1984046581'

### Yummly meta-data (not strictly used)

In [366]:
METADATA_KEYS = [
    'ingredient',
    'holiday',
    'diet',
    'allergy',
    'technique',
    'cuisine',
    'course',
    'source',
    'brand',
    'restriction']

In [367]:
metadata = {i+1:key for i, key in enumerate(METADATA_KEYS)}

In [368]:
metadata_rev = dict((v, k) for k, v in metadata.items())

In [369]:
metadata_rev

{'allergy': 4,
 'brand': 9,
 'course': 7,
 'cuisine': 6,
 'diet': 3,
 'holiday': 2,
 'ingredient': 1,
 'restriction': 10,
 'source': 8,
 'technique': 5}

In [370]:
metadata

{1: 'ingredient',
 2: 'holiday',
 3: 'diet',
 4: 'allergy',
 5: 'technique',
 6: 'cuisine',
 7: 'course',
 8: 'source',
 9: 'brand',
 10: 'restriction'}

### Create Yummly Client (if necessary)

In [371]:
try:
    print client.api_id
    print "Yummly Client already created"
except:
    print "Create Yummly API Client"
    client = yummly.Client(api_id=API_ID, api_key=API_KEY, timeout=TIMEOUT, retries=RETRIES)

b4f167ed
Yummly Client already created

### Extract ingredient list into dataframe (currently unused)

In [375]:
ingredient_list = client.metadata('ingredient')
ingredient_df = pd.DataFrame(ingredient_list)

print str(len(ingredient_list)) + ' current ingredients'


#diet_list = client.metadata('diet')
#source_list = client.metadata('source')

#meta = ['']
#for i in range(1, 10):
#    meta.append(client.metadata(metadata[i]))

13392 current ingredients

### Extract recognised cuisine-types into dataframe

In [378]:
cuisine_list = client.metadata('cuisine')
cuisine_df = pd.DataFrame(cuisine_list)

print str(len(cuisine_list)) + ' recognised cuisine types'

26 recognised cuisine types

In [379]:
cuisine_df[['name', 'id', 'searchValue']][0:3]

           name                    id                   searchValue
0      American      cuisine-american      cuisine^cuisine-american
1  Kid-Friendly  cuisine-kid-friendly  cuisine^cuisine-kid-friendly
2       Italian       cuisine-italian       cuisine^cuisine-italian

### Import Country / Cuisine mappings

In [380]:
xls_filepath = 'country_info.xlsx'

country_info = pd.read_excel(xls_filepath, sheetname='Export', names={'Country', 'Code', 'Region', 'Cuisines'})

In [381]:
def country_belongs_to_cusine(cuisine_type, cuisines):
    if cuisine_type in cuisines:
        return True
    else:
        return False

In [382]:
for cuisine in cuisine_df.name:
    if cuisine == 'Kid-Friendly':
        cuisine = 'Undefined'
    country_info[cuisine] = country_info['Cuisines'].apply(lambda x: country_belongs_to_cusine(cuisine, x))

In [383]:
PrettyPandas(country_info.head(5))

In [384]:
all_cuisines = []
for cuisine in cuisine_df.name:
    if cuisine == 'Kid-Friendly':
        cuisine = 'Undefined'
    cuisine_countries = [cuisine]
    tmp_df = country_info[country_info[cuisine] == True]
    cuisine_countries.append(tmp_df['Country'].values.tolist())
    #print cuisine_countries
    all_cuisines.append(cuisine_countries)

In [385]:
cuisine_by_country_df = pd.DataFrame(all_cuisines)

In [81]:
PrettyPandas(cuisine_by_country_df)

In [117]:
cuisine_df.head(len(cuisine_df))

,description,id,localesAvailableIn,name,searchValue,type
0,American,cuisine-american,[en-US],American,cuisine^cuisine-american,cuisine
1,Kid-Friendly,cuisine-kid-friendly,[en-US],Kid-Friendly,cuisine^cuisine-kid-friendly,cuisine
2,Italian,cuisine-italian,[en-US],Italian,cuisine^cuisine-italian,cuisine
3,Asian,cuisine-asian,[en-US],Asian,cuisine^cuisine-asian,cuisine
4,Mexican,cuisine-mexican,[en-US],Mexican,cuisine^cuisine-mexican,cuisine
5,Southern & Soul Food,cuisine-southern,[en-US],Southern & Soul Food,cuisine^cuisine-southern,cuisine
6,French,cuisine-french,[en-US],French,cuisine^cuisine-french,cuisine
7,Southwestern,cuisine-southwestern,[en-US],Southwestern,cuisine^cuisine-southwestern,cuisine
8,Barbecue,cuisine-barbecue-bbq,[en-US],Barbecue,cuisine^cuisine-barbecue-bbq,cuisine
9,Indian,cuisine-indian,[en-US],Indian,cuisine^cuisine-indian,cuisine
10,Chinese,cuisine-chinese,[en-US],Chinese,cuisine^cuisine-chinese,cuisine
11,Cajun & Creole,cuisine-cajun,[en-US],Cajun & Creole,cuisine^cuisine-cajun,cuisine
12,Mediterranean,cuisine-mediterranean,[en-US],Mediterranean,cuisine^cuisine-mediterranean,cuisine
13,Greek,cuisine-greek,[en-US],Greek,cuisine^cuisine-greek,cuisine
14,English,cuisine-english,[en-US],English,cuisine^cuisine-english,cuisine
15,Spanish,cuisine-spanish,[en-US],Spanish,cuisine^cuisine-spanish,cuisine
16,Thai,cuisine-thai,[en-US],Thai,cuisine^cuisine-thai,cuisine
17,German,cuisine-german,[en-US],German,cuisine^cuisine-german,cuisine
18,Moroccan,cuisine-moroccan,[en-US],Moroccan,cuisine^cuisine-moroccan,cuisine
19,Irish,cuisine-irish,[en-US],Irish,cuisine^cuisine-irish,cuisine
20,Japanese,cuisine-japanese,[en-US],Japanese,cuisine^cuisine-japanese,cuisine
21,Cuban,cuisine-cuban,[en-US],Cuban,cuisine^cuisine-cuban,cuisine
22,Hawaiian,cuisine-hawaiian,[en-US],Hawaiian,cuisine^cuisine-hawaiian,cuisine
23,Swedish,cuisine-swedish,[en-US],Swedish,cuisine^cuisine-swedish,cuisine
24,Hungarian,cuisine-hungarian,[en-US],Hungarian,cuisine^cuisine-hungarian,cuisine
25,Portuguese,cuisine-portuguese,[en-US],Portuguese,cuisine^cuisine-portuguese,cuisine

In [128]:
cuisine_df['searchValue'][cuisine_df['description'] == 'American'][0]

u'cuisine^cuisine-american'

In [310]:
cuisine_id = cuisine_df['searchValue'].values.tolist()

In [311]:
cuisine_id

[u'cuisine^cuisine-american',
 u'cuisine^cuisine-kid-friendly',
 u'cuisine^cuisine-italian',
 u'cuisine^cuisine-asian',
 u'cuisine^cuisine-mexican',
 u'cuisine^cuisine-southern',
 u'cuisine^cuisine-french',
 u'cuisine^cuisine-southwestern',
 u'cuisine^cuisine-barbecue-bbq',
 u'cuisine^cuisine-indian',
 u'cuisine^cuisine-chinese',
 u'cuisine^cuisine-cajun',
 u'cuisine^cuisine-mediterranean',
 u'cuisine^cuisine-greek',
 u'cuisine^cuisine-english',
 u'cuisine^cuisine-spanish',
 u'cuisine^cuisine-thai',
 u'cuisine^cuisine-german',
 u'cuisine^cuisine-moroccan',
 u'cuisine^cuisine-irish',
 u'cuisine^cuisine-japanese',
 u'cuisine^cuisine-cuban',
 u'cuisine^cuisine-hawaiian',
 u'cuisine^cuisine-swedish',
 u'cuisine^cuisine-hungarian',
 u'cuisine^cuisine-portuguese']

In [137]:
# Note: Working with cuisine ID column as this maps directly to the searchValue column by adding the suffix
#       'cuisine^'

In [11]:
#NOTE: Something weird with 'restriction' meta type -- need to check API docs

#meta_dfs = ['']
#
#for i in range(1, 10):
#    print metadata[i], len(meta[i])
#    meta_dfs.append(pd.DataFrame(meta[i]))

In [12]:
#print meta[2][0:2]

In [13]:
#for i in range(1, 10):
#    print str(i) + ': ' + metadata[i] + ' (' + str(len(meta[i])) + ') -----------------------------------------------'
#    print meta_dfs[i].head(min(4, len(meta[i])))
#    # print '--------------------------------------------------------------------'

In [14]:
#type(ingredient_list)

In [15]:
#ingredients = pd.DataFrame(ingredient_list)

In [16]:
#metadata[metadata_rev['ingredient']]

In [17]:
#ingredients.head(5)

In [18]:
#diets = pd.DataFrame(diet_list)

In [138]:
def search_yummly(query, cuisine_list, maxResult):

    try:
        search_params = {
            'q': query,
            'allowedCuisine': 'cuisine^' + cuisine_list,        # Need to generalise to multiple cuisines
            'maxResult': maxResult
        }

        client = yummly.Client(api_id=API_ID, api_key=API_KEY, timeout=TIMEOUT, retries=RETRIES)

        search_results = client.search(**search_params)

        matches = search_results.matches[0]

        recipe_list = []
        for match in matches:
            recipe = client.recipe(match.id)
            recipe_list.append(recipe)

    except:
        pass
    
    return recipe_list

In [359]:
def get_number_of_recipes_for_cuisine(cuisine_id, allergens):
    n_recipes = 0
    try:
        if allergens == '':
            search_params = {
                'q': '',
                'allowedCuisine': cuisine_id
            }
        else:
            search_params = {
                'q': '',
                'allowedCuisine': cuisine_id
            }

            allergen_list = []
            for allergen in allergens.split(','):
                allergen_list.append(allergen.lstrip().rstrip())
            search_params['excludedIngredient'] = allergen_list

        client = yummly.Client(api_id=API_ID, api_key=API_KEY, timeout=TIMEOUT, retries=RETRIES)
        search_results = client.search(**search_params)
        n_recipes = search_results.totalMatchCount

    except Exception as e:
        n_recipes = e.message            # error value
        pass
    
    return n_recipes

In [300]:
client.URL_SEARCH

'http://api.yummly.com/v1/api/recipes'

In [293]:
def test_create_search_params_excluded_ingred(cuisine_type, allergens):
    search_params = {
        'q': '',
        'allowedCuisine': 'cuisine^' + cuisine_type
    }

    allergen_list = []
    for allergen in allergens.split(','):
          allergen_list.append(allergen.lstrip().rstrip())
            
    search_params['excludedIngredient'] = allergen_list
    return search_params

### Define Allergy profiles

In [393]:
allergy_profiles = [['milk'], ['egg'], ['peanut'], ['milk, egg'],
                    ['milk, peanut'], ['egg, peanut'], ['egg, milk, peanut']]

In [398]:
# Example URL query

# https://www.yummly.com/recipes?allowedCuisine=cuisine%5Ecuisine-american&excludedIngredient=egg&excludedIngredient=milk

In [399]:
# For each cuisine-type - A = query total #recipes and B = total #recipes without all allergen ingredients (in allergy profile)

# Calculate allergy (quotient) index as B/A. If there are a lot of recipes in that cuisine type without allergens
# then B is approximately equal to A and the quotient is close to 100% ( => allergy-friendly cuisine).

# Similarly could calculate a 2nd metric where (for more than one allergen in profile) you drop one of the allergens 
# at a time from the allergy profile to see the change/impact. The Eat Map could toggle between STRICT and RELAXED mode.

In [400]:
def calculate_cuisine_allergy_indices(allergy_profile, cuisine_list):
    allergy_index = []
    ignore_cuisine = ['cuisine^cuisine-kid-friendly',
                      'cuisine^cuisine-southern',
                      'cuisine^cuisine-southwestern',
                      'cuisine^cuisine-barbecue-bbq',
                      'cuisine^cuisine-cajun']
    for cuisine in cuisine_list:
        if cuisine not in ignore_cuisine:
            # First query total number of recipes for the cuisine
            print cuisine
            n_recipes_total = get_number_of_recipes_for_cuisine(cuisine, allergens='')
            print n_recipes_total
            # Then query number of recipes without allergens
            n_recipes_allowed = get_number_of_recipes_for_cuisine(cuisine, allergy_profile)
            print n_recipes_allowed
            allergy_index.append((cuisine, round(100.*float(n_recipes_allowed)/float(n_recipes_total), 2)))
    
    return allergy_index

In [403]:
cuisine_id[0]

u'cuisine^cuisine-american'

In [404]:
allergy_index = calculate_cuisine_allergy_indices(allergy_profiles[3][0], [cuisine_id[0]])
#allergy_index = calculate_cuisine_allergy_indices('milk, egg', ['cuisine^cuisine-chinese'])

cuisine^cuisine-american
12353
6894

In [405]:
allergy_index

[(u'cuisine^cuisine-american', 55.81)]

### Recipe stuff (not currently used in app)

In [22]:
recipe_df = pd.DataFrame(recipe_list)

In [23]:
recipe_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [ ]:
# Start to look at recipes

#results = client.search(query_str, maxResults=100000)

results = client.search(**search_params)

print 'Total Matches:', results.totalMatchCount

#for match in results.matches:
#        print 'Recipe ID:', match.id
#        print 'Recipe:', match.recipeName
#        print 'Rating:', match.rating
#        # print 'Total Time (mins):' + match.TOTAL_TIME_MISSING / 60.0)
#        print '----------------------------------------------------'

In [ ]:
type(results.matches)

In [ ]:
len(results.matches)

In [ ]:
results.matches[0].id

In [ ]:
from time import sleep

In [ ]:
recipes = []
for match in results.matches:    
    this_recipe = []
    recipe = client.recipe(match.id)
    sleep(1.0)
    for ingred in recipe.ingredientLines:
        this_recipe.append(ingred)
    recipes.append(this_recipe)

In [ ]:
recipes_df = pd.DataFrame(recipes)

In [ ]:
recipes_df.head(10)

In [ ]:
recipes_df.info()

In [ ]:
recipes_df.describe()

In [ ]:
## Comment: need to standardise ingredients - see NYTimes approach
# Probably can use spaCy
# Will need to clean the text as part of this and have some sort of similarity measure for ingredients

In [ ]:
type(recipes_df.iloc[0])

### NLP ingredient standardisation (not currently used in app)

In [ ]:
import spacy
nlp = spacy.load('en')

In [ ]:
def get_entity_and_type(textstr):
    textstr = unicode(textstr)
    doc = nlp(textstr)
    out_list = []
    for ent in doc.ents:
        out_list.append((ent, ent.label_, ent.label, ent.orth_)) 
    return out_list


# token.orth_, token.ent_type_ if token.ent_type_

In [ ]:
#doc = nlp(u'London is a big city in the United Kingdom.')

def standardise_recipe_ingredients(ingredient):
    print ingredient
    ingred_doc = nlp(ingredient)
    for i, word in enumerate(ingredient.split(' ')):
        print word, (ingred_doc[i].text, ingred_doc[i].ent_type_)
        
        #print ingred    #.text     #, ingred[0].ent_iob, ingred[0].ent_type_

In [ ]:
example_ingred = recipes_df[0][2]

In [ ]:
standardise_recipe_ingredients(example_ingred)

In [ ]:
doc1 = nlp(recipes_df[0][2])

In [ ]:
recipes_df[0][2]

In [ ]:
doc = nlp(u'London is a big city in the United Kingdom.')
len(doc)
print(doc[0].text, doc[0].ent_iob, doc[0].ent_type_)
# (u'London', 2, u'GPE')
print(doc[1].text, doc[1].ent_iob, doc[1].ent_type_)
# (u'is', 3, u'')

In [ ]:
for word in doc1.sents.
    print word

In [ ]:
type(doc1)

In [ ]:
 for ent in doc1.ents:
        for word in ent.sent:
            print word

In [ ]:
for chunk in doc1.noun_chunks:
    print chunk

In [ ]:
for i in range(0, 10):
    print recipes_df[0][i]

In [ ]:
recipes_df['spacy-ingreds'] = recipes_df[0].apply(lambda ingred : get_entity_and_type(ingred))

In [ ]:
print recipes_df['spacy-ingreds'][0]
print recipes_df[0][0]

In [ ]:
recipes_df['spacy-ingreds'].head()